.faq {
  max-width: 900px;
  margin: 6rem auto;
  padding-top: 1rem auto;
}

.faq_title {
  text-align: center;
  font-size: 2.1rem;
}

.faq_subtitle {
  text-align: center;
  margin: 2rem 0 3rem 0;
  color: #555;
}

.faq_item {
  background: #e0e0e0;
  border-radius: 12px;
  margin-bottom: 1.2rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
  transition: transform 0.3s ease;
}