.footer {
    background: #6b5b5b;
    color: #fff;
    padding: 2rem 2rem 1.5rem;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* footer brand */

.footer-brand img {
    width: 50px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.title h3 span{
    color: #FF7979;
}

.footer-brand p {
    max-width: 210px;
    margin-bottom: 0.5rem;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social img {
    width: 50px;
}

/* footer column */
.footer-col {
    width: auto;
}

.footer-col ul li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.Kontak-img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-col ul div img{
    width: 1.5rem;
}

.footer-col h4{
    margin-bottom: 1rem;
}

/* footer - bottom */
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 2rem;
    padding-top: 1rem;
}

.footer-bottom img{
    width: 60px;
}